In [6]:
def fn(param_1):
    x = 1
    print(param_1)

fn('Hi')
fn("I'm Nick")

#error as variable only exists inside the function
#print(param_1)

Hi
I'm Nick

In [10]:
def fxy(x=13, y=9):
    print(x)
    print(y)
    print(f'The sum of {x} and {y} is {x + y}.')

#doesn't have to be in order but if not, you have to define
fxy(5, 10)

#if defaults are set the function works with them.
#can be overwritten in the function callback (as above)
fxy()

5
10
The sum of 5 and 10 is 15.
13
9
The sum of 13 and 9 is 22.

In [15]:
#take 2 numbers and divde the largest by the smallest
def div(a, b):
    c = max(a, b)
    d = min(a, b)
    print(c / d)

div(2, 59)

29.5

In [16]:
def div_xy(x, y):
    if x >= y:
        z = x / y
    else:
        z = y / x
    return z
 
 
answer = div_xy(y=10, x=5)
 
print(answer)

2.0

In [18]:
def sum_prod(num_1, num_2):
    sum_12 = num_1 + num_2
    prod_12 = num_1 * num_2
    return sum_12, prod_12

sum_30_70, prod_30_70 = sum_prod(30, 70)

print(prod_30_70)

2100

In [19]:
def sum_prod(num1, num2):
    sum_12 = num1 + num2
    prod_12 = num1 * num2
 
    return sum_12, prod_12
 
answer = sum_prod(30, 70)
 
print(answer[1])

2100

In [23]:
def sp(a, b):
    c = max(a, b)
    d = min(a, b)
    divsp = c / d
    subsp = c - d
    return divsp, subsp

answer = sp(5, 10)

print(answer)

(2.0, 5)

In [24]:
def minus_div(x, y):
    if x >= y:
        big = x
        small = y
    else:
        big = y
        small = x
    return big / small, big - small
 
x_div_y, x_minus_y = minus_div(5, 10)
 
print(x_div_y)
print(x_minus_y)

2.0
5

In [25]:
import math

In [30]:
# In this cell, first, import the 'math' module.
# Next, write a function that squares a number (hint: you can simply uses x*x),
# Now write a function that uses math.sqrt() to find the square root of a number
# (hint: https://docs.python.org/3/library/math.html#math.sqrt)
# Then, write a funciton that performs both of these functions and returns both answers,
# Finally, call the function getting two variables as your answer, and print them.

def sm(x):
    sq_x = x**2
    sqr_x = math.sqrt(x)
    return sq_x, sqr_x

sm(16)

(256, 4.0)

In [31]:
def sq(x):
    return x**2
 
def root_fn(x):
    return math.sqrt(x)
 
def root_sqr_x(x):
    return sq(x), root_fn(x)
 
print(root_sqr_x(9))

(81, 3.0)

In [1]:
import pandas as pd

In [33]:
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv')

In [5]:
'''https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'
write a function that calculates ages based on the data, and returns a new column in age range buckets
0-5, 6-11, 12-17, 18+
 
convert that to a datetime
find the difference between the datetime and today
if else statements to put that difference in time in a bucket
return as a string the appropriate buckets to a nerw column'''

df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')

def dob_change(DOB):
    date_dob = pd.to_datetime(DOB, format="%Y-%m-%d")
    today = pd.to_datetime('today')
    if date_dob + pd.DateOffset(years=11) < today:
        return '10 and under'
    elif date_dob + pd.DateOffset(years=11) >= today:
        return 'over 10'
    else:
        return 'no dob'

df['Age Bucket'] = df['PersonBirthDate'].apply(dob_change)

df[['PersonBirthDate', 'Age Bucket']]

#failed attempt

    PersonBirthDate    Age Bucket
0        2019-12-06       over 10
1        2011-04-27  10 and under
2        2017-06-06       over 10
3        2014-10-03       over 10
4        2019-09-25       over 10
..              ...           ...
327      2010-07-07  10 and under
328      2018-08-14       over 10
329      2021-12-09       over 10
330      2013-07-23       over 10
331      2021-10-25       over 10

[332 rows x 2 columns]

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')

 

def bucket_maker(date_code):

    bday = pd.to_datetime(date_code, format="%Y-%m-%d")

    today = pd.to_datetime('today')

 

    if bday + pd.DateOffset(years=6) > today:

        return '0-5 years'

    elif bday + pd.DateOffset(years=12) > today:

        return '6-11 years'

    elif bday + pd.DateOffset(years=18) > today:

        return '12-17 years'

    else:

        return '18+'

   

 

df['Age Bucket'] = df['PersonBirthDate'].apply(bucket_maker)

 

df[['PersonBirthDate', 'Age Bucket']]

    PersonBirthDate   Age Bucket
0        2019-12-06    0-5 years
1        2011-04-27  12-17 years
2        2017-06-06   6-11 years
3        2014-10-03   6-11 years
4        2019-09-25    0-5 years
..              ...          ...
327      2010-07-07  12-17 years
328      2018-08-14    0-5 years
329      2021-12-09    0-5 years
330      2013-07-23   6-11 years
331      2021-10-25    0-5 years

[332 rows x 2 columns]