In [5]:
import pandas as pd

filepath = r"https://github.com/data-to-insight/ERN-sessions/raw/main/data/903_xlsx_errors.xlsx"
 
df = pd.read_excel(filepath, sheet_name=None)

In [6]:
df

{'ad1':         CHILD         DOB    DATE_INT  DATE_MATCH  FOSTER_CARE NB_ADOPTR  \
 0      988635  15/06/2013  22/11/2015  22/11/2015            1         2
 1      161125  24/07/2002  08/05/2015  08/05/2015            1         1
 2      590545  24/11/2008  12/09/2015  12/09/2015            1         2
 3      757606  12/12/2003  16/09/2015  16/09/2015            0         1
 4      921450  11/10/2006  02/03/2015  02/03/2015            0         1
 5        4022  11/05/2001  11/11/2015  11/11/2015            1         1
 6      127650  24/02/2013  05/09/2015  05/09/2015            0         1
 7      624227  04/07/2008  27/01/2015  27/01/2015            0         2
 8      711458  06/05/2009  19/03/2015  19/03/2015            0         1
 9      549562  25/07/2009  30/10/2015  30/10/2015            1         1
 10      83008  05/06/2005  06/02/2015  06/02/2015            1         2
 11     764585  01/06/2011  17/05/2015  17/05/2015            0         1
 12     432916  28/01/2002  02/08/2015  02/08/2015            0         2
 13     232351  08/11/2006  09/10/2015  09/10/2015            1         2
 14     682447  10/07/2008  02/01/2015  02/01/2015            0         1
 15     979106  11/04/2013  04/02/2015  04/02/2015            0         2
 16     177224  16/04/2008  17/01/2015  17/01/2015            0         2
 17     150309  12/12/2003  22/04/2015  22/04/2015            0         1
 18     912765  25/04/2007  24/06/2015  24/06/2015            1         2
 19     258758  09/01/2012  10/06/2015  10/06/2015            1         1
 20     183392  03/09/2012  28/03/2015  28/03/2015            0         2
 21     882662  24/07/2003  26/09/2015  26/09/2015            0         2
 22     867782  20/09/2002  02/09/2015  02/09/2015            1         2
 23     398366  07/06/2010  17/03/2015  17/03/2015            0         2
 24     465676  09/05/2012  30/05/2015  30/05/2015            1         1
 25     553789  15/07/2010  06/12/2015  06/12/2015            0         1
 26     667633  26/10/2007  01/06/2015  01/06/2015            0         2
 27     940956  02/04/2011  30/01/2015  30/01/2015            1         2
 28     458257  21/02/2007  23/08/2015  23/08/2015            0         2
 29  bad_entry    datedate     notdate     datenot          777         Q

    SEX_ADOPTR LS_ADOPTR
 0          MM       L11
 1          MF        L0
 2          F1       L11
 3          MF        L3
 4          FF        L3
 5          M1        L2
 6          F1        L2
 7          MF        L4
 8          F1        L4
 9          MF        L2
 10         MF       L11
 11         FF        L4
 12         FF        L3
 13         M1        L3
 14         M1       L12
 15         MM       L11
 16         M1       L11
 17         MM       L11
 18         M1        L2
 19         F1       L12
 20         MM        L2
 21         MM       L12
 22         M1        L4
 23         FF        L3
 24         F1        L3
 25         FF       L11
 26         MF       L12
 27         MF       L11
 28         MF        L0
 29       Will  let's go  ,
 'episodes':        CHILD       DECOM RNE  LS CIN PLACE PLACE_PROVIDER         DEC  REC  \
 0     566910  15/02/2016   L  C2  N3    T2            PR0  14/08/2017   X1
 1     566910  14/08/2017   T  C2  N3    A3            PR3         NaN   X1
 2     384923  26/04/2016   T  L1  N8    A5            PR2  09/05/2017   X1
 3     384923  09/05/2017   L  C2  N8    A5            PR2         NaN   X1
 4     709901  07/04/2016   L  V3  N8    T3            PR2  22/01/2018   X1
 ...      ...         ...  ..  ..  ..   ...            ...         ...  ...
 5045  152113  24/03/2018   P  J3  N7    T4            PR5         NaN   X1
 5046  481370  27/02/2017   L  L2  N1    P1            PR4  16/01/2018  E14
 5047  791577  10/05/2016   P  V4  N1    U4            PR0  29/05/2017   E8
 5048  238470  20/01/2017   P  J3  N5    H5            PR2  22/08/2017   X1
 5049  238470  22/08/2017   T  J3  N5    U6            PR4         NaN   E3

      REASON_PLACE_CHANGE HOME_POST   PL_POST      URN
 0                  CLOSE       NaN       NaN  4244474
 1                    NaN  EG19 7TT  WV27 9FW  8969628
 2                    NaN  EH14 8EC  WD10 6ZQ  1157828
 3                  CARPL  EH14 8EC  WD10 6ZQ  1157828
 4                    NaN  EE28 7VZ   WT9 9BG  5814849
 ...                  ...       ...       ...      ...
 5045               CLOSE  ET29 3SV  WI26 4MP  1482729
 5046                 NaN  EZ27 9FE  WK24 6XN  8556688
 5047                 NaN  ED28 2LY   WF2 4RW  9873663
 5048               CARPL   EP1 7NB  WG30 3RA  8367014
 5049                 NaN  EY16 7WX   WI6 5MI  9549282

 [5050 rows x 13 columns],
 'header':             CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
 0          566910    2  27/03/2008   WROM  D051910639385     NaN    NaN
 1          384923    2  09/09/2011   REFU  L034811502612     NaN    NaN
 2          709901    1  14/02/2013   ABAN  Y021751958510     NaN    NaN
 3          550084    2  04/05/2008   AOTH  R095578985099     NaN    NaN
 4          710229    2  15/04/2002   REFU  Z095096287583     NaN    NaN
 ...           ...  ...         ...    ...            ...     ...    ...
 2671       481370    2  12/02/2008   BAFR  C014150452081     NaN    NaN
 2672       791577    1  28/05/2011   WBRI  Q009369089812     NaN    NaN
 2673       238470    1  21/11/2013   AIND  P095222532769     NaN    NaN
 2674       437361    1  15/12/2012   WROM  G018001328504     NaN    NaN
 2675  bad_entry_1    7       oops!  Alien          UPDOG     NaN    NaN

 [2676 rows x 7 columns],
 'missing':      CHILD         DOB MISSING   MIS_START     MIS_END
 0   510000  12/03/2002       A  13/11/2017  25/11/2017
 1    92296  19/05/2004       M  21/11/2017  04/01/2018
 2   355937  17/04/2013       M  01/01/2018  04/02/2018
 3   652288  26/02/2001       A  08/07/2017  18/07/2017
 4   162514  25/08/2010       M  03/11/2017  23/11/2017
 5   307124  23/08/2012       M  09/02/2018  16/03/2018
 6    26033  05/12/2004       A  19/01/2018  09/02/2018
 7    26033  05/12/2004       A  26/11/2017  08/12/2017
 8   204965  11/10/2002       M  18/02/2018  27/02/2018
 9    46775  02/08/2008       M  10/12/2017  28/01/2018
 10  615213  28/02/2004       M  05/08/2017  15/08/2017
 11  123379  10/04/2005       A  02/01/2018  21/02/2018
 12  123379  10/04/2005       A  17/03/2017  05/05/2017
 13  438957  19/04/2008       A  30/04/2017  14/05/2017
 14  894391  23/11/2009       M  27/09/2017  16/10/2017
 15   32560  15/09/2008       A  13/08/2017  07/09/2017
 16  601718  05/07/2006       A  23/04/2017  03/06/2017
 17  768353  16/05/2007       A  01/05/2017  18/05/2017
 18  965311  08/09/2009       A  11/03/2017  26/04/2017
 19  799906  07/01/2005       M  07/05/2017  29/05/2017
 20  394625  02/02/2013       M  24/11/2017  12/01/2018
 21  948702  02/10/2004       A  29/06/2017  18/08/2017
 22  500060  25/08/2013       M  13/07/2017  24/08/2017
 23  355555  29/07/2004       A  08/10/2017  26/11/2017
 24  202414  30/01/2002       M  10/01/2018  11/02/2018
 25  974117  12/12/2005       A  30/08/2017  26/09/2017
 26  274474  25/12/2005       M  15/01/2018  22/02/2018
 27  282241  22/03/2009       A  15/01/2018  12/02/2018
 28  673597  09/09/2012       A  09/04/2017  14/04/2017
 29  784166  21/12/2012       A  15/08/2017  27/09/2017
 30  784166  21/12/2012       A  17/11/2017  03/01/2018
 31  379328  06/01/2009       A  29/09/2017  02/10/2017
 32   40219  11/11/2005       A  20/01/2018  26/01/2018
 33    3022  11/09/2003       M  17/07/2017  19/08/2017
 34  366621  06/01/2006       M  20/11/2017  04/12/2017
 35  366621  06/01/2006       A  02/11/2017  22/12/2017
 36  813046  05/10/2008       M  09/03/2017  14/04/2017
 37  982701  17/08/2001       A  27/06/2017  19/07/2017
 38  781175  15/11/2008       M  17/12/2017  17/01/2018
 39  777256  08/10/2001       A  27/05/2017  03/07/2017
 40  950695  14/01/2006       A  15/09/2017  19/09/2017
 41  678141  04/11/2006       M  02/10/2017  11/11/2017
 42  460521  26/06/2002       M  18/05/2017  30/05/2017,
 'oc2':           CHILD                  DOB SDQ_SCORE SDQ_REASON CONVICTED  \
 0        566910           27/03/2008        39        NaN         1
 1        384923           09/09/2011       NaN       SDQ1         1
 2        709901           14/02/2013       NaN       SDQ4         1
 3        550084           04/05/2008        40        NaN         0
 4        710229           15/04/2002       NaN       SDQ5         1
 ...         ...                  ...       ...        ...       ...
 2671     481370           12/02/2008         9        NaN         1
 2672     791577           28/05/2011        14        NaN         1
 2673     238470           21/11/2013       NaN       SDQ2         0
 2674     437361           15/12/2012         5        NaN         0
 2675  bad_child  2024-12-05 00:00:00      oops        bad        no

      HEALTH_CHECK IMMUNISATIONS TEETH_CHECK HEALTH_ASSESSMENT  \
 0               0             0           0                 0
 1               1             0           0                 0
 2               0             1           1                 1
 3               0             1           1                 1
 4               0             1           1                 0
 ...           ...           ...         ...               ...
 2671            0             0           0                 1
 2672            0             1           1                 1
 2673            0             0           1                 1
 2674            1             1           1                 0
 2675          yes         maybe           i             don't

      SUBSTANCE_MISUSE INTERVENTION_RECEIVED INTERVENTION_OFFERED
 0                   1                     0                    0
 1                   1                     0                    0
 2                   1                     0                    1
 3                   0                     0                    0
 4                   1                     1                    0
 ...               ...                   ...                  ...
 2671                0                     1                    0
 2672                1                     0                    1
 2673                1                     1                    0
 2674                0                     0                    0
 2675             know              possibly                  yes

 [2676 rows x 12 columns],
 'oc3':      CHILD         DOB IN_TOUCH ACTIV ACCOM
 0   197474  30/03/2001     DIED    F1    01
 1   864948  16/01/2001     DIED    P3    T2
 2   880820  01/02/2001      YES    F1    K1
 3    87520  11/01/2001     DIED    P2    T2
 4   438490  08/03/2001     RHOM    P2    W1
 5   245118  14/01/2001     NREQ    P3    Y1
 6    58648  07/01/2001     NREQ    F3    D2
 7   760316  17/02/2001     REFU    G6    C1
 8   574154  01/02/2001      YES    G5    V1
 9   591172  12/01/2001     DIED    G5    C2
 10  652288  26/02/2001      YES    P3    S2
 11  560048  31/01/2001     DIED    G6    B2
 12  308457  30/03/2001      YES    P2    Z1
 13  289080  28/03/2001     REFU    F2    D2
 14  516400  05/01/2001     DIED    F3    C1
 15  244935  01/04/2001     DIED    F3    V1
 16  422644  01/02/2001     NREQ    G6    G2
 17  194633  15/01/2001     DIED    G5    K1
 18  727783  22/01/2001      YES    P2    U1
 19  500229  14/02/2001      YES    F3    Z2
 20  863149  24/03/2001     DIED    P1    U2
 21  354455  17/02/2001     NREQ    G5    D1
 22  843267  20/02/2001      YES    G4    G1
 23   79078  06/01/2001     RHOM     0    Z2
 24  868758  22/02/2001     REFU    P3    U2
 25  657425  28/01/2001     RHOM    G5    Y2
 26  721241  24/03/2001     NREQ     0    C1
 27  733974  07/03/2001     REFU    P3    B1
 28  363625  23/01/2001     RHOM    G5    K1
 29  800819  31/03/2001      YES    P2    V2
 30  300367  28/02/2001     RHOM    F3    G1
 31  833390  19/01/2001     RHOM    G4    H1
 32  420627  15/01/2001      YES    F3    B2
 33  518085  09/02/2001     DIED    F2    B2
 34  419002  16/02/2001      YES    F1    S2
 35  934440  12/03/2001     NREQ    G5    U2
 36  806933  14/02/2001     REFU    F1    Z1
 37  378727  05/01/2001     DIED    F2    T1
 38  659560  22/03/2001      YES    F1    Z1
 39  969789  07/03/2001     DIED    P1    Z1
 40  725957  01/04/2001     REFU    G4    Y1
 41  508004  16/03/2001      YES    P2    E2
 42    2431  19/01/2001     RHOM     0    H1
 43  549531  29/03/2001       NO    F2    H2
 44   87702  23/03/2001     REFU    G6    R2
 45  232161  05/02/2001     DIED    P1    02
 46  483691  29/01/2001       NO    G4    Z1
 47  135717  23/01/2001     NREQ    F2    B1
 48  250009  07/01/2001       NO     0    Z1
 49  115356  03/04/2001     RHOM    G5    U2
 50  288369  17/03/2001     NREQ    P2    B2
 51  842472  03/03/2001     REFU    F1    G2
 52  147980  16/03/2001      YES    F3    S1,
 'placed_for_adoption':           CHILD         DOB              DATE_PLACED      DATE_PLACED_CEASED  \
 0        988635  15/06/2013               22/11/2015              07/04/2017
 1        161125  24/07/2002               08/05/2015              24/02/2018
 2        590545  24/11/2008               12/09/2015              23/04/2017
 3        757606  12/12/2003               16/09/2015              23/02/2018
 4        921450  11/10/2006               02/03/2015              15/08/2017
 5          4022  11/05/2001               11/11/2015              30/12/2017
 6        127650  24/02/2013               05/09/2015              22/06/2017
 7        624227  04/07/2008               27/01/2015              24/09/2017
 8        711458  06/05/2009               19/03/2015              27/11/2017
 9        549562  25/07/2009               30/10/2015              22/11/2017
 10        83008  05/06/2005               06/02/2015              16/10/2017
 11       764585  01/06/2011               17/05/2015              08/12/2017
 12       432916  28/01/2002               02/08/2015              08/03/2018
 13       232351  08/11/2006               09/10/2015              02/08/2017
 14       682447  10/07/2008               02/01/2015              03/11/2017
 15       979106  11/04/2013               04/02/2015              12/01/2018
 16       177224  16/04/2008               17/01/2015              02/11/2017
 17       150309  12/12/2003               22/04/2015              10/04/2017
 18       912765  25/04/2007               24/06/2015              02/05/2017
 19       258758  09/01/2012               10/06/2015              22/04/2017
 20       183392  03/09/2012               28/03/2015              02/03/2018
 21       882662  24/07/2003               26/09/2015              22/11/2017
 22       867782  20/09/2002               02/09/2015              04/04/2017
 23       398366  07/06/2010               17/03/2015              29/05/2017
 24       465676  09/05/2012               30/05/2015              29/05/2017
 25       553789  15/07/2010               06/12/2015              08/02/2018
 26       667633  26/10/2007               01/06/2015              02/05/2017
 27       940956  02/04/2011               30/01/2015              29/11/2017
 28       458257  21/02/2007               23/08/2015              03/01/2018
 29  bad_entry_1  Not a date  This isn't a valid date  This also isn't a date

    REASON_PLACED_CEASED
 0                   XXX
 1                   XXX
 2                   XXX
 3                   XXX
 4                   XXX
 5                   XXX
 6                   XXX
 7                   XXX
 8                   XXX
 9                   XXX
 10                  XXX
 11                  XXX
 12                  XXX
 13                  XXX
 14                  XXX
 15                  XXX
 16                  XXX
 17                  XXX
 18                  XXX
 19                  XXX
 20                  XXX
 21                  XXX
 22                  XXX
 23                  XXX
 24                  XXX
 25                  XXX
 26                  XXX
 27                  XXX
 28                  XXX
 29                  oop  ,
 'previous_permenance':        CHILD         DOB PREV_PERM  LA_PERM  DATE_PERM
 0     566910  27/03/2008        Z1      NaN        NaN
 1     384923  09/09/2011        Z1      NaN        NaN
 2     709901  14/02/2013        Z1      NaN        NaN
 3     550084  04/05/2008        Z1      NaN        NaN
 4     710229  15/04/2002        Z1      NaN        NaN
 ...      ...         ...       ...      ...        ...
 2670  152113  06/06/2003        Z1      NaN        NaN
 2671  481370  12/02/2008        Z1      NaN        NaN
 2672  791577  28/05/2011        Z1      NaN        NaN
 2673  238470  21/11/2013        Z1      NaN        NaN
 2674  437361  15/12/2012        Z1      NaN        NaN

 [2675 rows x 5 columns],
 'reviews':         CHILD         DOB      REVIEW REVIEW_CODE
 0      566910  27/03/2008  30/08/2017         PN6
 1      566910  27/03/2008  29/07/2018         PN6
 2      566910  27/03/2008  08/10/2018         PN4
 3      384923  09/09/2011  10/08/2016         PN6
 4      384923  09/09/2011  02/01/2017         PN3
 ...       ...         ...         ...         ...
 12577  437361  15/12/2012  07/03/2019         PN2
 12578  437361  15/12/2012  28/07/2019         PN0
 12579  437361  15/12/2012  13/09/2019         PN7
 12580  437361  15/12/2012  20/10/2019         PN5
 12581  437361  15/12/2012  27/07/2021         PN6

 [12582 rows x 4 columns],
 'uasc':       CHILD  SEX         DOB         DUC
 0    102639    2  18/10/2010  13/10/2028
 1    589852    1  10/07/2012  06/07/2030
 2    532707    1  02/01/2011  28/12/2028
 3    691351    1  06/10/2011  01/10/2029
 4    116056    2  16/11/2003  11/11/2021
 ..      ...  ...         ...         ...
 127  939193    1  02/12/2009  28/11/2027
 128  826423    1  23/07/2010  18/07/2028
 129  164710    2  25/09/2008  21/09/2026
 130  896762    1  30/08/2010  25/08/2028
 131  152113    1  06/06/2003  01/06/2021

 [132 rows x 4 columns]}